<section class="row justify-content-center">
  <div class="col-lg-4 d-grid gap-4">
    <h1>Criar Nota</h1>

    <h2 class="fs-4 fw-light">
      Crie uma nota personalizada para ajudar a organizar as tarefas do seu
      dia-a-dia.
    </h2>

    <form (submit)="criarNota()" class="d-grid gap-3">
      <div class="mb-3">
        <label for="titulo" class="form-label fs-5 fw-semibold">Título</label>
        <input [(ngModel)]="nota.titulo" type="text" class="form-control" id="titulo" name="titulo" />
      </div>

      <div class="mb-3">
        <label for="conteudo" class="form-label fs-5 fw-semibold">Conteúdo</label>
        <textarea [(ngModel)]="nota.conteudo" name="conteudo" class="form-control" id="conteudo" rows="3"></textarea>
      </div>

      <div class="mb-3">
        <label for="categoria" class="form-label fs-5 fw-semibold">Categoria</label>
        <div class="position-relative">
          <select [(ngModel)]="nota.categoria" class="form-select" id="categoria" name="categoria">
            <option value="" disabled selected style="display:none;">Selecione uma categoria</option>
            <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{ categoria.titulo }}</option>
          </select>
          <span class="position-absolute top-50 start-0 translate-middle-y ms-2 text-muted" *ngIf="!nota.categoria">Selecione uma categoria</span>
        </div>
      </div>

      <label for="tema" class="form-label fs-5 fw-semibold">Tema</label>
      <div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="nota.tema" class="form-check-input" type="radio" name="tema" id="temaDark" value="dark" />
          <label class="form-check-label" for="temaDark">Padrão</label>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="nota.tema" class="form-check-input" type="radio" name="tema" id="temaInfo" value="info" />
          <label class="form-check-label" for="temaInfo">Informação</label>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="nota.tema" class="form-check-input" type="radio" name="tema" id="temaWarning"
            value="warning" />
          <label class="form-check-label" for="temaWarning">Aviso</label>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="nota.tema" class="form-check-input" type="radio" name="tema" id="temaDanger"
            value="danger" />
          <label class="form-check-label" for="temaDanger">Urgente</label>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-{{ nota.tema }}">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="card-title">{{ nota.titulo }}</h5>
              <span class="ms-auto fw-semibold text-muted">Id: {{ nota.id }}</span>
            </div>
            <p class="card-text my-4">{{ nota.conteudo }}</p>
          </div>
        </div>
      </div>

      <div class="d-flex gap-2 my-2 justify-content-end">
        <button type="submit" class="btn btn-primary px-5">Salvar</button>
        <button routerLink="/notas/listar" class="btn btn-outline-danger px-4">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</section>